<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-avatar item-start><img
            src="https://cdn1.vectorstock.com/i/thumb-large/37/90/mobile-user-icon-male-person-profile-avatar-symbol-vector-20723790.jpg">
          </ion-avatar>
          <ion-text class="ion-margin-start">Goshgar Mirzayev</ion-text>
          <ion-icon class="ion-margin-start" name="call-outline" color="success"></ion-icon>
          <ion-icon class="ion-margin-start" name="chatbox-outline" color="tertiary"></ion-icon>
          <ion-icon class="ion-margin-start" name="videocam-outline" color="primary"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
