<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="recents">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Recent</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="keypad">
      <ion-icon name="keypad-outline"></ion-icon>
      <ion-label>Keypad</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contacts">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
